.venv/
__pycache__/
.pytest_cache/
*.py[cod]
dist/
build/
*.egg-info/
.mypy_cache/
.ruff_cache/
.DS_Store
src/mermaid_render/runtime/**
!src/mermaid_render/runtime/README.txt

src/mermaid_render/browsers/**
!src/mermaid_render/browsers/README.txt

src/mermaid_render/browsers

mermaid-dist